html {
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
	image-rendering: -webkit-optimize-contrast;
}

/* VARIABELEN */
:root {
	--groen:#4e9090;
	--groenOverlay:rgba(78,144,144,.9);
	--grijs:#454545;
	--grijsOverlay:rgba(69,69,69,.8);
	--lichtGrijs:#dcdcdc;
	--lichtGrijsOverlay:rgba(220,220,220,.8);
	--wit:#ffffff;
	--witOverlay:rgba(255,255,255,.8);
	
	--navigatie:300 18px/18px 'Nunito', sans-serif;
	--paragraaf:200 18px/36px 'Nunito', sans-serif;
	--paragraafKlein:300 16px/30px 'Nunito', sans-serif;
	--kleinDik:700 13px/13px 'Nunito', sans-serif;
	--button:700 13px/30px 'Nunito', sans-serif;
	--prijs:900 40px/40px 'Nunito', sans-serif;
	
	--0:0;
	--15:15px;
	--30:30px;
	--45:45px;
	--60:60px;
	--90:90px;
	--120:120px;
}

/* UTILITIES */
.animatie,
.animatie *,
.animatie:before,
.animatie:after {
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.br {
	border-radius:15px;
	overflow:hidden;
}

.p-0 {
	padding:var(--0);
}

	.p-30 {
		padding:var(--30);
	}
	
	.p-45 {
		padding:var(--45);
	}
	
	.p-60 {
		padding:var(--60);
	}
	
	.p-90 {
		padding-top:var(--90);
		padding-bottom:var(--90);
	}
	
	.ph-120 {
		padding-top:var(--120);
		padding-bottom:var(--120);
	}

.m-0 {
	margin:0;
}

	.mt-0 {
		margin-top:var(--0);
	}
	
	.mt-30 {
		margin-top:var(--30);
	}

	.mb-0 {
		margin-bottom:var(--0);
	}

	.mb-30 {
		margin-bottom:var(--30);
	}

	.mb-60 {
		margin-bottom:var(--60);
	}
	
	.mb-90 {
		margin-bottom:var(--90);
	}
	
	.mb-120 {
		margin-bottom:var(--120);
	}
	
	.mt--120 {
		margin-top:calc(-1 * var(--120));
	}

.schaduw {
	-webkit-box-shadow:0px 3px 15px 0px rgba(0, 0, 0, 0.05);
	box-shadow:0px 3px 15px 0px rgba(0, 0, 0, 0.05);
}

	.schaduw:hover {
		-webkit-box-shadow:0px 3px 15px 0px rgba(0, 0, 0, 0.15);
		box-shadow:0px 3px 15px 0px rgba(0, 0, 0, 0.15);
	}
	
.draai {
	overflow:hidden;
	-webkit-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

	.draai * {
		overflow:hidden;
	}

	.draai:hover img {
		-webkit-transform: scale(1.2) rotate(7deg);
		-ms-transform: scale(1.2) rotate(7deg);
		transform: scale(1.2) rotate(7deg);
	}

.groenoverlay {
	position:relative;
	display:block;
}

	.groenoverlay:after {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-color:transparent;
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-align:center;
		-webkit-align-items:center;
		-ms-flex-align:center;
		align-items:center;
		-webkit-box-pack:center;
		-webkit-justify-content:center;
		-ms-flex-pack:center;
		justify-content:center;
		font-family:'FontAwesome';
		font-size:60px;
		color:#fff;
		opacity:0;
		content:'';
	}
	
		.groenoverlay:hover:after {
			content:'\f002';
			background-color:var(--groenOverlay);
			opacity:1;
		}

/* RESET */
* {
	outline:none !important;
}

li.show {
	position:relative;
}

p:empty {
	display:none;
}

article img {
	max-width:100% !important;
	height:auto !important;
}

strong {
	font-weight:700;
}

/* BASIS */
body {
	margin:0;
	background:#f0f0f0;
	font:var(--paragraaf);
	color:var(--paragraafKleur);
}

/* TYPOGRAFIE */
h1 {
	color:var(--groen);
	font:700 60px/60px 'Amatic SC', cursive;
	margin-bottom:var(--60);
	text-transform:lowercase;
}

h2 {
	color:var(--grijs);
	font:700 20px/20px 'Nunito', sans-serif;
	margin-bottom:var(--30);
}

h3 {
	color:var(--grijs);
	font:600 18px/18px 'Nunito', sans-serif;
	margin-bottom:var(--30);
}

p {
	margin-bottom:var(--60);
	letter-spacing:0.03em;
}

	p:last-of-type {
		margin-bottom:0 !important;
	}
	
ul,
ol {
	margin:0 0 var(--60) 0;
}

ol {
	padding:0;
	list-style-type:none;
	counter-reset: section;
}

	ol li:before {
		counter-increment: section;
		content: counter(section);
		display:inline-block;
		color:var(--groen);
		font:var(--kleinDik);
		margin-right:7.5px;
	}

/* ELEMENTEN */
#navigatie {
	padding:30px 0;
}

	#navigatie.scroll {
		background:var(--wit);
		-webkit-box-shadow:0px 3px 15px 0px rgba(0, 0, 0, 0.15);
		box-shadow:0px 3px 15px 0px rgba(0, 0, 0, 0.15);
	}
	
		#navigatie.scroll #hoofdmenu-links > li > a,
		#navigatie.scroll #hoofdmenu-rechts > li > a {
			font:var(--navigatie);
			color:var(--grijs);
			letter-spacing:0.075em;
		}

	#navigatie li {
		margin:0 15px;
	}
	
		#navigatie li:first-of-type {
			margin-left:0;
		}
		
		#navigatie li:last-of-type {
			margin-right:0;
		}
	
	#navigatie li a {
		padding:0;
	}
	
	#navigatie li a {
		font:var(--navigatie);
		color:var(--wit);
		letter-spacing:0.075em;
	}	
	
	#navigatie .dropdown-menu {
		margin-top:22px;
		padding-top:0;
		padding-bottom:0;
		left:-30px;
		background:#fff;
		z-index:5;
		border:none !important;
	}
	
		#navigatie .dropdown-menu a {			
			color:var(--grijs) !important;
			font:var(--paragraafKlein);
			text-decoration:none !important;
			padding:5px 30px;
		}
		
			#navigatie .dropdown-menu .dropdown-item.active,
			#navigatie .dropdown-menu .dropdown-item:active {
				background-color:#f8f8f8;
			}
			
	.navbar-brand {
		margin:0 30px;
		width:30px;
		height:30px;
		padding:0;
	}
	
		.navbar-brand.logo-desk path {
			fill:var(--wit);
		}
		
		.scroll .navbar-brand.logo-desk path {
			fill:var(--groen);
		}
		
		.navbar-brand.logo-mob {
			margin:0;
			position:absolute;
			width:45px;
			height:45px;
		}
		
			.navbar-brand.logo-mob path {
				fill:var(--groen) !important;
			}

#intro {
	background-image:url(https://www.maaikehogebrug.nl/v3/wp-content/uploads/2017/12/dominique-anouk.jpg);
	-webkit-background-size:cover;
	background-size:cover;
	background-position:center center;
	position:relative;
	z-index:1;
	text-align:center;
	padding-top:120px;
	padding-bottom:120px;
	margin-bottom:60px;
}

	#intro:before {
		content:'';
		background-color:var(--groenOverlay);
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:0;		
	}

.intro {
	position:relative;
	z-index:1;
}

	.intro h1 {
		color:var(--wit);
	}

	.intro p {
		font:var(--paragraaf);
		color:var(--wit);
		text-align:center;
	}

	.intro > p:first-of-type {
		font-style:italic;
		font-weight:400;
	}
	
	.intro a {
		color:#fff;
		text-decoration:underline;
		text-decoration-skip:ink;
	}

.meer-informatie,
.gform_button {
	color:var(--wit) !important;
	background:var(--grijs) !important;
	font:var(--kleinDik) !important;
	text-transform:uppercase !important;
	padding:0 15px !important;
	border-radius:10px !important;
	display:inline-block !important;
	height:30px !important;
	line-height:30px !important;
	text-decoration:none !important;
	border:none !important;
}

	.meer-informatie:hover {
		background:var(--grijsOverlay) !important;	
	}

	.meer-informatie:after {
		content:'\f105';
		display:inline-block;
		font-family:'FontAwesome';
		left:5px;
		position:relative;
	}

.button {
	font:var(--button);
	text-transform:uppercase;
	padding:0 15px;
	border-radius:15px;
	display:inline-block;
	text-decoration:none !important;
}

	.button-wit {
		color:var(--grijs) !important;
		background:var(--wit);
	}
	
	.button-oranje {
		color:var(--wit) !important;
		background:var(--grijs);
	}
	
		.button-oranje:hover {
			background:var(--grijsOverlay);
		}
	
	.button-grijs {
		color:var(--wit) !important;
		background:var(--grijs);
	}
	
		.button-grijs:hover {
			background:var(--grijsOverlay);
		}
	
	.button-groen {
		color:var(--wit) !important;
		background:var(--groen);
	}
	
		.button-groen:hover {
			background:var(--groenOverlay);
		}

.blok {
	background:#fff;
	display:block;
	color:var(--grijs) !important;
	font:var(--paragraafKlein);
	text-decoration:none !important;
	position:relative;
	z-index:5;
	-webkit-box-flex:1;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
}

	.blok header h1 {
		color:var(--grijs);
		font:700 20px/20px 'Nunito', sans-serif;
	}
	
		.blok header span {
			display:block;
			margin:7.5px 0 var(--30) 0;
			color:var(--groen);
			font:var(--kleinDik);
			letter-spacing:0.05em;
			text-transform:uppercase;
		}
		
		.blok:hover .meer-informatie:after,
		.meer-informatie:hover:after {
			left:10px;
		}
		
#dienstblokken {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        float: left;
		z-index:99;
		position:relative;
		padding:15px;
    }
	
    #watkrijgje {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        min-width: -webkit-calc(50% - 15px);
        min-width: calc(50% - 15px);
        max-width: -webkit-calc(50% - 15px);
        max-width: calc(50% - 15px);
		margin-right:15px;
    }
    
	#prijsboek {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        min-width: -webkit-calc(50% - 15px);
        min-width: calc(50% - 15px);
        max-width: -webkit-calc(50% - 15px);
        max-width: calc(50% - 15px);
		margin-left:15px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
		#prijsblok {
			height: -webkit-calc(50% - 15px);
			height: calc(50% - 15px);
			width: 100%;
			margin-bottom:30px;		
			display: -webkit-box;		
			display: -webkit-flex;		
			display: -ms-flexbox;		
			display: flex;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
		}
		
			#prijsblok span {
				color:var(--grijs);
				font:var(--prijs);
			}
		
		#boeken {
			height: -webkit-calc(50% - 15px);
			height: calc(50% - 15px);
			width: 100%;		
			display: -webkit-box;		
			display: -webkit-flex;		
			display: -ms-flexbox;		
			display: flex;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
			font:var(--button);
			font-size:20px !important;
			color:var(--wit) !important;
			text-decoration:none !important;
		}

ul.opties {
	margin-left:0;
	padding-left:0;
	padding-bottom:0;
	list-style-type:none;
}

	ul.opties li i {
		margin-right:10px;
	}

#blogafbeelding {
	margin-top:-120px;
	position:relative;
	z-index:5;
}

#pakketten {
	margin-top:-120px;
}

	.pakket {
		background:#fff;
		text-align:center;
		font:var(--paragraafKlein);
		letter-spacing:0;
		padding-top:30px;
		padding-bottom:30px;
	}
	
		.pakket-prijs {
			font:var(--prijs);
		}
	
		.pakket ul {
			list-style-type:none;
			padding:0;
		}
		
			.pakket ul li {
				padding:7.5px 0;
			}
			
				.pakket ul li:nth-child(odd) {
					background:#f8f8f8;
				}
				
#faq {
	margin-top:-120px;
}

	.vraag ul {
			list-style-type:none;
			padding:0;
		}
		
			.vraag ul > li {
				padding:7.5px 30px;
				width:100%;
			}
			
				.vraag ul li:hover {
					cursor:pointer;
				}
			
				.vraag ul li:nth-child(odd) {
					background:#f8f8f8;
				}
				
				.vraag ul li div {
					display:none;
				}
				
					.vraag ul li div.actief {
						display:block;
					}
					
					.vraag ul li div p {
						margin-bottom:30px;
					}
		
#recensies {
	background-image:url(https://www.maaikehogebrug.nl/v3/wp-content/uploads/2017/12/dominique-anouk.jpg);
	-webkit-background-size:cover;
	background-size:cover;
	background-position:center center;
	position:relative;
	z-index:1;
}

	#recensies:before {
		content:'';
		background-color:var(--lichtGrijsOverlay);
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:0;		
	}

	.recensie {
		text-align:justify;
	}
	
		.recensie-afbeelding {
			-webkit-background-size:cover;
			background-size:cover;
			background-position:center center;
		}
		
			.recensie-afbeelding img {
				display:none;
			}
	
		.recensie-waardering i {
			color:#ffbf00;
			font-size:16px !important;
		}
		
/* FOOTER */
footer {
	color:var(--grijs);
	background:var(--wit);
}

footer h3 {
	margin-bottom:15px;
}

footer ul {
	margin:0;
	padding:0;
	list-style-type:none;
}

	footer ul li {
	}

footer a {
	color:var(--grijs);	
}

footer i {
	opacity:.6;
}

#img-maaike {
	border-radius:50%;
	max-width:50%;
}

/* PORTFOLIO */
#masonry {
	margin-bottom:-30px;
}

	.mas-item {
		margin-bottom:30px;
	}
	
		.mas-item img {
			display:block;
			max-width:100%;
			min-width:100%;
		}
		
@media (max-width:767px){
:root {	
	--15:7.5px;
	--30:15px;
	--45:30px;
	--60:30px;
	--90:45px;
	--120:60px;
}

p {
	margin-bottom:var(--45);
	letter-spacing:0;
}

#navigatie {
	width: 100%;
	margin:0;
	padding:0;
	background:#fff;
	-webkit-box-shadow:0px 3px 15px 0px rgba(0, 0, 0, 0.05);
	box-shadow:0px 3px 15px 0px rgba(0, 0, 0, 0.05);
}

	#navigatie nav {
		padding:0 15px !important;
	}

	.navbar {
		padding:0;
		-webkit-box-shadow:0px 3px 15px 0px rgba(0, 0, 0, 0.05);
		box-shadow:0px 3px 15px 0px rgba(0, 0, 0, 0.05);
		height:60px;
	}
	
		.navbar .row {
			margin-left:0;
			margin-right:0;
			width:100%;
			text-align:center;
			padding:0 15px;
		}
		
		.navbar-toggler {
			padding:0;
			border-radius:0;
		}
		
			.navbar-toggler-icon {
				width:auto;
				height:auto;
			}
		
		#menu {
			display:block;
			font-size:10px;
			text-transform:uppercase;
			font-weight:500;
		}
		
		.navbar i {
			color:var(--grijs);
			font-size:24px;
		}
		
	#intro {
		padding-top:60px;
		padding-bottom:90px;
	}
	
	#doorkiesblokken {
		margin-top:-120px;
	}
		
		#doorkiesblokken .owl-stage,
		#uitgelicht-werk .owl-stage,
		#pakketten .owl-stage {
			padding-left:15px !important;
		}
	
	.recensie header {
		display:block !important;
		float:left;
		width:100%;
	}
	
	.recensie-afbeelding {
		display:none;
	}
		
	.recensie-waardering {
		margin-top:7.5px !important;
	}
	
	footer .col-xs-12 {
		margin-bottom:30px;
	}
	
		footer .col-xs-12 h2 {
			margin-bottom:0;
		}
}

@media (max-width: 359px) {
	body {
		padding-top:30px;
	}
	
	h1 {
		font: 700 45px/45px 'Amatic SC', cursive;
	}

	.grid-sizer,
	.mas-item {
		width:calc(100% - 30px);
		margin-left:15px;
		margin-right:15px;
	}
}

@media (min-width: 360px) and (max-width:575px){
	body {
		padding-top:30px;
	}
	
	h1 {
		font: 700 45px/45px 'Amatic SC', cursive;
	}
}

@media (min-width: 576px) and (max-width:767px){

}

@media (min-width: 768px) and (max-width:991px){
	
}

@media (min-width: 992px) and (max-width:1199px){
	
}

@media (min-width: 1200px){
	
}